//used with preprocessors and contain font, colors definitions, etc.

$color-gray-900: #212529;
$color-gray-500: #999;

$color-green-600: #1A5B2D;
$color-green-400: #5da052;

$color-yellow-600: #C49000;
$color-yellow-400: #FBC02D;
$color-yellow-100: #FFFBD0;

$color-brand: $color-green-600;
$color-brand-secondary: $color-green-400;

$color-highlight: $color-yellow-600;
$color-highlight-secondary: $color-yellow-100;

$color-font: $color-gray-900;
$color-font-light: $color-gray-500;

$base-font-size: 16px;
$font-s: 0.75rem;
$font-normal: 1rem;
$font-l: 1.33333rem;
$font-xl: 1.66666rem;
$font-xxl: 2rem;

$spacer-s: 0.5rem;
$spacer: 1rem;
$spacer-l: 2rem;
$spacer-xl: 3rem;
$spacer-xxl: 4rem;





